name: CI for Vote App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies for Vote Service
      run: |
        cd vote
        python -m pip install --upgrade pip

    - name: Install dependencies for Result Service
      run: |
        cd result
        python -m pip install --upgrade pip

    - name: Run tests for Vote Service
      run: |
        cd vote
        pytest

    - name: Run tests for Result Service
      run: |
        cd result
        pytest

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build and push Vote Service Docker image
      run: |
        cd vote
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/vote-service:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/vote-service:latest

    - name: Build and push Result Service Docker image
      run: |
        cd result
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/result-service:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/result-service:latest
