name: Deploy Voting App Services

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.dockerhub_username }}
        password: ${{ secrets.dockerhub_token }}

    - name: Build and push Docker images for vote service
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: |
          ${{ secrets.dockerhub_usernameE }}/vote1
          ${{ secrets.dockerhub_token }}/vote1:${{ github.run_number }}

    - name: Build and push Docker images for result service
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: |
          ${{ secrets.dockerhub_username }}/result1
          ${{ secrets.dockerhub_token }}/result1:${{ github.run_number }}
