
name: CI and Docker with build and push

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: vote_app
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        language: [python, node]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python
      if: matrix.language == 'python'
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies (Python)
      if: matrix.language == 'python'
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests (Python)
      if: matrix.language == 'python'
      run: |
        python -m pytest

    # Setup Node.js
    - name: Set up Node.js
      if: matrix.language == 'node'
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install dependencies (Node)
      if: matrix.language == 'node'
      run: |
       # npm cache clean --force
        npm install
        
    - name: Run tests (Node)
      if: matrix.language == 'node'
      run: |
        npm test

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push vote Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./vote
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/vote-app-vote:latest

    - name: Build and push result Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./result
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/vote-app-result:latest

    - name: Build and push worker Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./worker
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/vote-app-worker:latest
